.game{
  display: flex;
  padding: 5rem 5rem;
}

.square{
  width: 5rem;
  height: 5rem;
  border-color: black;
  background-color: brown;
  font-weight: bolder;
}

.status{
  position: relative;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
}