.about-section {
  display: flex;
  margin: 0;
  padding: 9rem 5rem;
  letter-spacing: -0.02em;
  line-height: 1.26;
  font-size: 2rem;
  text-transform: uppercase;
}

.about {
  font-weight:300;
  max-width: 50%;
}

.current {
  margin-left: 2rem;
  font-weight:lighter;
  max-width: 50%;
}
