.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6rem 7rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

ul {
  list-style-type: none;
  background-color: #b3d7e0;
  border-radius: 2rem;
}

a {
  color: black;
}

.nav-1 {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.nav-2 {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav-21 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-20,
.nav-21,
.nav-22 {
  position: relative;
  transition: 0.2s;
}

.nav-20::after,
.nav-21::after,
.nav-22::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ddd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-20:hover::after,.nav-21:hover::after,.nav-22:hover::after {
  width: 100%;
  left: 0;
}
