@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fredoka One';
  src: url('https://assets.codepen.io/4175254/fredoka-one.ttf') format('truetype');
}

body {
  margin: 0px;
  font-family: "Fredoka One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00a699;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
