@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-fredoka-300 {
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
  }

  .font-fredoka-400 {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
  }

  .font-fredoka-500 {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
  }

  .font-fredoka-600 {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
  }

  .font-fredoka-700 {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
  }
}

body {
  margin: 0px;
  font-family: "Fredoka One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e4df;
}

::selection {
  background-color: #f6c4dd;
  color: black;
}
